.X*
.bash*
.dmrc
.fehbg
.gitconfig
.lesshst
.profile
.wget-hsts
.x*
.zcompdump*
.zsh_*
.zshenv
.zshrc.*
Fingus

.cache/
.cargo/
.mozilla/firefox/
.npm/
.oh-my-zsh/
.pki/
.rustup/
.ssh/

Downloads/
Work/


